.homepage-content {
    color: red;
}

@media  (max-width: 767.98px) { 
    .homepage-content {
        color: yellow;
    }
 }
@media (min-width: 768px) and (max-width: 1199.98px) { 
    .homepage-content {
        color: blue;
    }
 }